/*For Ipad*/

@media screen and (max-width:768px){
	
	
	.search{
		height:0%;
		display:none;
	}
	.ship{
				
		width:100%;
	}
	.ship #sp{display:none;}
	.ship #sp1{
		display:block;
		text-align:center;
	color:black;
	display:block;
	padding:5px;
	}
	.mob-menu{
	float:right;
	padding:20px;	
	display:block;
	
	}
	
	.logo
	{
		float:left;
		display:inline-block;
	}
	
	.topnav{
		display:none;
	}
	#sidenavigation{
		display:inline-block;
		
		width:10%;
		position:relative;
		top:20px;
		left:20px; 
	}
	.sub-div1{
		display:none;
	}
	.sub-div2{
	width:100%;
	display:inline-block;
	padding:0px;
	float:left;
	margin:0px;
	}
	.sub-div2 img{
		width:100%;
		height:100%;
		display:inline-block;
		padding:0px;
		
	}
	.sub-div3{
	width:100%;
	float:left;
	}
	.sub-div3 span{
		width:100%;
		text-align:left;
		font-size:20px;		
		padding-left:10px;
		padding-top:0px;
	}

	
	.btn{
	
	width:100%;
	height:50px;
	padding:0px;
	}
	#desk-span
	{
		display:none;
	}
	#mob-span{
		display:block;
	}
	.btn2{
	width:100%;
	padding-left:10px;
	}
	#sfl{
		display:none;
	}
	.sp2{
		width:100%;
		text-align:left;
		padding:10px;
		font-size:30px;
		padding-top:20px;
	}
	.h-rule1
	{
		width:80%;
		padding:10px;
	}
	.h-rule #ehr{
		width:100%;
		
	}
	/* #size{
		margin-left:-200px;
	} */
	.lst{
	width:100%;
	padding-left:10px;	
	}
	.lst ul li{
		margin-left:30px;
	}
	.lst ul,.lst li{	
	font-size:30px;
	}
	.sub-div4 {
		display:none;;
	}
	.h-rule{
	width:100%;
	margin:0px;
	}
	/* .h-rule hr{
	width:30%;	
	} */
	.h-rule #hr1{
	width:20%;
	padding-left:-120px;	
	}
	.h-rule #hr2{
		width:20%;
		padding-left:-120px;	
	}
	.h-rule h5{
		padding:2px;
	}
	.pymldiv{
	height:40%
	}
	.pymldiv .sub-div5,.pymldiv .sub-div6,.pymldiv .sub-div7{
	width:25%;
	/* padding-left:20px; */
	padding:30px;
	}
	.ourdiv{
		display:none;
	}
	.mob-social{
		display:block;
	}
	.mob-social hr{
		/* padding-left:10px; */
		width:80%;
		height:0%
	}
	.mob-social h2{
	text-align:center;	
	/* padding:10px; */
	}
	.mob-social #s-h2{
		
	padding:20px;
	}
	.footer #f-hr{
		margin:10px;
		width:80%;
		
	}
	.f-social{
		display:none;
	}
	.email-sign-up{
	width:768px;
	
	}
	.email-sign-up h3{
		text-align:center;
		width:100%;
		margin:0px;
		font-size:30px;
	}
	.email-sign-up input[type=text] ,.email-sign-up  input[type=submit]{
	width:70%;
	margin-left:130px;
	font-size:15px;
	}

	#f-hr{
	display:block;
	padding-left:20px;
	/* margin-top:-40px; */
	width:80%;
	}
	.footer{height:100%;}
	.f-menu {
		width:100%;
		margin-top:0px;
		margin-left:20px;
		height:35%;
		/* background-color:lightgrey; */
		text-align:center;
	}
	.sub-div8,.sub-div9, .sub-div10, .sub-div11{
	width:100%;
	height:15%;
	margin-top:10px;
	text-align:center;
	float:right;
	} 
	.sub-div9{
		height:30%;
	}
	.sub-div11{
		height:20%;
	}
	.sub-div10{
		height:20%;
	}
	.desk-social{
		display:none;
	}
	.f-menu div h4,.f-menu ul li  {
		text-align:center;
		width:740px;
	}
	#f-h{
	display:block;
	width:80%;
	}
	
	#hhr{
		width:80%;
		padding-left:10px;
	}
	.logo{
		width:100%;
		text-align:center;
	}
	.logo #ii{
		text-align:center;
		
		
	}
	.logo #img1{
		/* padding-top:40px;	
		padding-left:40px; */
		display:inline-block;
		text-align:center;
		padding-left:220px;
	}
	.copyrights{
		padding-left:30px;
		width:100%;
		height:20%;
		font-size:25px;
	}
}



/* @media screen and (max-width:360px){
	..mob-menu{
		width:360px;
		float:right;
		display:block;
		margin-left:100px;
		
	}
	
}
 */