*{
	margin:0px;
	padding:0px;
	font-family:rounded elegance;
}
.ship #sp1{display:none;}
.ship{
width:100%;
background-color:lightgrey;
display:block;
padding:0;
margin:0;
text-align:center;
}
 .ship #sp {
	text-align:center;
	color:black;
	display:block;
	padding:5px;
}

.search{
width:100%;
height:05%;

display:block;
padding:0;
margin:0;	
}

.search a{
	float:right;
	text-align:center;
	color:black;
	display:block;
	padding:5px;
	font-size:12px;
	text-decoration:none;
	margin-top:10px;
}
.search a:hover{
	text-decoration:underline;
}
.mob-menu{
	float:left;
	display:none;
}

.logo{
	/* background-color:black; */
	
	width:100%;
	/* display:inline-block; */
	text-align:center;
	padding:10px;
	display:inline-block;
}
.logo img{
	text-align:center;
	display:inline-block;
}

.topnav {
	width:100%;
    overflow: hidden;
    /* border-left: 8px solid #4CAF50; */
    /* border-bottom: 1px solid grey;  */
	text-align:center;
	display:block;

}
.mar{
	display:block;
	margin-left:250px;
} 

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;	
    color: black;
    text-align: center;
    padding: 15px ; 
    text-decoration: none;	
	margin:15px 5px 5px 5px;
	text-transform:uppercase;
	
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;	
    color: black;
	border-left: 3px solid #4CAF50;
}


.maindiv{
width:100%;
height:100%;
/* background-color:lightgrey;  */
margin-top:15px;

}

.maindiv1{
	height:100%;
	width:50%;
	/* background-color:grey; */
	float:left;
	margin-left:160px;

}

.sub-div1{
	width:30%;
	height:100%;
	/* background-color:white; */
	float:left;
	
}

.sub-div1 img{
	float:left;
	height:32%;
	margin-bottom:10px;
	margin-right:3px;
}

.sub-div2{
	width:70%;
	height:100%;
	/* background-color:lightblue; */
	float:left;

}

.sub-div2 img{
	float:left;
	width:90%;
	height:100%; 
	margin-bottom:0px;
	margin-left:3px;
	margin-right:3px;
}


.sub-div3{
	width:20%;
	height:100%;
	 /*  background-color:grey;  */
	float:left;
	padding-left:3px;
}

.sub-div3 span{
	/* padding-top:30px; */
	/* margin-left:20px; */
	text-transform:uppercase;
	font-size:15px;
	display:block;
	
}

.sp2{
	display:block;
	padding-top:30px;
	/* margin-left:20px; */
	font-size:15px;
	text-transform:uppercase;	
	padding:1px;
}
/* 
#b1{
	border:1px solid black;
	background-color:transparent;
	width:7%;
	border-radius:100%;
	margin-left:20px;
	margin-top:10px

} */

.btn{
width:100%;
height:5%;
/* background-color:grey; */

}

.sub-div3 label{
text-decoration:underline;
margin-left:20px;
font-size:13px;
}

.btn2{
	display:block; 
	float:left; 
	width:100%;
	padding:10px; 
	color:#C0BAB6; 
	border:none;
	background-color:#232323;
	margin-top:10px;
	text-transform:uppercase;
	cursor:hand;
}

.lst{
	display:block;
	margin-top:10px;
	padding-left:23px; 
	font-size:15px;
	height:auto;
}
.lst ul
{
	font-size:15px;
	text-transform:uppercase;	
}

.lst li
{
	font-size:10px;
/* 	margin:5px; */
	padding:3px;	
}

.picdiv{
width:100%;
height:100%;
background-color:lightgrey; 
padding-top:20px; 
margin-top:20px;
}

.sub-div4{
	width:40%;
	height:100%;
	/* background-color:black; */
	float:left;	
	padding-left:362px;
	/* margin-top:15px; */
	/* background-image:url('/images/main-img3.png'); */
}

.sub-div4 img{
	float:left;
	/* width:100%; */
	float:left;
	width:100%;
	height:100%;
	margin-bottom:0px;
	margin-left:3px;
	margin-right:3px;
}
.h-rule{
width:100%;
/* background-color:lightgrey; */
height:10%;	
}

.h-rule hr{
width:60%;
float:left;
margin:40px;
margin-left:70px;
color:black;
}
.h-rule h5{
float:left;
padding:0px;
margin-left:10px;
margin-top:30px;
text-transform:uppercase;
}

.pymldiv{
width:100%;
height:75%;
/* background-color:lightblue;  */
}

.sub-div5{
width:25%;

padding-left:70px;
float:left;
}

.sub-div6{
width:25%;

padding-left:80px;
float:left;
}

.sub-div7{
width:25%;
padding-left:80px;
float:left;
}

.ourdiv{
	width:100%;
	height:100%;
	background-color:lightgrey;
	margin-top:20px;
}

.mission{
	width:49%;
	
	float:left;
}

.mh-rule{
	width:0.3%;
	
	height:80%;
	background-color:lightgrey;
	border-right:solid 1px black;
	padding-top:40px;
	float:left;
	opacity:0.4;
}

.local{
	width:49%;
	
	float:left;
}
.mission h3,.local h3{
	margin-top:60px;
	text-align:center;
}

.mission p,.local p{
	/* padding-top:60px; */
	text-align:center;
	margin-left:100px;
	margin-right:100px;
	margin-top:30px;	
}


.mob-social{
	display:none;
}
.footer{
width:100%;

/* background-color:lightblue; */
}
.h-rule1{
width:100%;
/* background-color:lightgrey; */
/* height:10%;	 */
display:block;
float:left;

}
#ehr
{
width:90%;
float:left;
margin:20px;
margin-left:70px;
color:black;
display:block;
}

.email-sign-up{
	width:65%; 
/* 	height:20%; */
	/* background-color:red;  */
	float:left;
}

.desk-social{
	width:35%; 
	height:20%;
/* 	background-color:green;  */
	float:left;

}
input[type=text],input[type=password]
{
  color:rgb(28,28,28);
  font-family:Helvetica;
  background-color: white;
  outline:none;
  color:black;
  border:1px solid #c3c3c3;
  background:none;
  display:block;  
  width:25%;
  padding:10px; 
  float:left;
  margin:10px;
   
}

.btn-signup{
	display:block; 
	/* float:left;  */
	width:17%;
	padding:9px;
	margin:30px;
	margin-top:10px;
	border:none;
	color:#C0BAB6; 
	background-color:#232323;
	/* margin-top:10px; */
	cursor:hand;
	/* text-transform:uppercase; */
}
#f-hr{
	display:none;
}
#f-h{
	display:none;
}
.email-sign-up h3{
	font-size:15px;
	margin:18px;
	margin-right:5px;
	margin-left:100px;
	display:block;
	float:left;
}
.f-social{
	width:80%;
	height:100%;
	float:left;
	/* background-color:lightgrey; */

}

.desk-social h2{
	float:right;
	font-size:11px;
	margin:25px;
	margin-right:5px;
	margin-left:100px;
}
.desk-social img{
	float:right;
	padding:2px;
	margin-left:10px;
	margin-top:18px;
	margin-right:5px;	
}
.f-menu{
	width:100%;
	height:30%;
	/*  background-color:blue;   */
	float:left;
}
.f-logo{
	width:100%;
	/* display:inline-block; */
	text-align:center;
	padding:10px;
	display:inline-block;
}


.f-logo  #img1{
	text-align:center;
	display:inline-block;
	
	
}
.sub-div8{
	width:15%;
	margin-left:130px;
	height:100%;
	/* background-color:red; */
	float:left;
}
.sub-div9{
	width:15%;
	height:100%;
	margin-left:0px;
	/* background-color:green; */
	float:left;
}
.sub-div10{
	width:15%;
	height:100%;
	margin-left:0px;
	/* background-color:lightblue; */
	float:left;
}
.sub-div11{
	width:15%;
	/* height:100%; */
	margin-left:0px;
	/* background-color:grey; */
	float:left;
}

.f-menu div h4{
	text-align:left;
	margin-top:5px;
	margin-bottom:5px;
	font-size:14px;
	text-transform:uppercase; 
	
}
#hhr{
	width:100%;
}
.f-menu ul li{
	list-style-type: none;
}
.f-menu a{
	text-decoration:none;
	text-align:left;
	color:black;
	font-size:13px;
}
.f-menu a:hover{
text-decoration:underline;
}
.copyrights{
	float:left;
	width:100%;
	/* background-color:grey; */
	height:15%;
}
.copyrights h6{
	margin-top:10;
	text-align:center;
}


/*Mobile Side View*/

.sidenav {
    height: 100%;
    width: 0;	
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}
.mob-menu{
	display:none;
}

#sidenavigation{
	display:none;
}

.sidenav .closebtn {
    position: absolute;	
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#mob-span
{display:none;}


#sze{
width:10%;
height:90%;
margin-right:10px;
font-size:15px;
background-color:white;
padding:1px;
margin-top:3px;
border:1px solid white;
border-radius:100%;
}
/* #size:after{
width:10%;
height:100%;
/* padding:1px;
margin-top:3px;
border:1px solid white;
border-radius:100%;
text-align:center;
margin:3px;

} */